@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    color: #212121;
    background-color: #bdbdbd;
    font-family: Anton, sans-serif;
    text-align: center;
    width: 100%
}

h1, h2 {
    padding-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-size: 5em;
}

h2 {
    color: #000;
    font-size: 2em;
}

.simon-container {
    position: relative;
    width: 26em;
    height: 20em;
    margin: 0 auto;
}

.middleCircle {
    position: absolute;
    bottom: 4.5em;
    left: 8em;
    border-style: solid;
    height: 10em;
    width: 10em;
    background-color: #757575;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
}

.btn {
    margin: 2px;
    display: inline-block;
    width: 10em;
    height: 10em;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000;
}

.btn:hover {
    border: 1px;
    border-style: solid;
}

.onBtn {
    filter: brightness(300%);
}

.inactive {
    pointer-events: none;
}

#green {
    background: #1b5e20;
    border-top-left-radius: 100%;
}

#red {
    background: #d50000;
    border-top-right-radius: 100%;
}

#blue {
    background: #0d47a1;
    border-bottom-right-radius: 100%;
}

#yellow {
    background: #ffd600;
    border-bottom-left-radius: 100%;
}

#strict {
    position: absolute;
    height: 1em;
    width: 1em;
    bottom: auto;
    right: auto;
    border-style: solid;
    border-radius: 100%;
    background-color: #000000;
    cursor: pointer;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2em;
}
